body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-color: rgb(91, 91, 91);
}

.home {
    height: 100vh;
}

.divError {
    width: 40%;
    padding: 20px;
    color: red;
    border-radius: 20px;
    text-align: center;
    border: 3px rgb(176, 176, 176)   solid;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.divConnexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 370px;
    color: rgb(37, 66, 125);
    border-radius: 3%;
    background: whitesmoke;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px;
}

.titledivConnexion {
    color: rgb(37, 66, 125);
    font-size: 33px;
    font-weight: 600;
    margin: 34px 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.divConnexion input{
    width: 72%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2c3e50; /* Dark blue border */
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(233, 233, 233); /* Light gray background for input */
    color: #333;
}

/***************Button***************/

button {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #003355; /* Blue button background */
    border: none;
    border-radius: 5px;
    color: #fff; /* White text */
    cursor: pointer;
    min-height: 40px;
    padding: 10px 40px; /* Increased padding */
    font-size: 70%;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  
button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

button:active {
    background-color: #1f618d; /* Even darker blue on click */
}


/* ------------------------------------------- */
/* ---------------- Contenu  ----------------- */
/* ------------------------------------------- */

.divUser {
    display: grid; /* Utilisation de CSS Grid */
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
    gap: 4px; ;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
}

#logoutButton {
    color: #fff;
    background-color: rgb(37, 66, 125);
    width: 40%;
    margin-left: 30%;
  }
.logout:hover {
    background-color: rgb(37, 66, 125);
    color: #fff;
}

h3 {
    margin: 0;
    padding: 10px;
}

.email{
  font-size: 14px;
  font-weight: 300;
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 90%;
    margin-left: 6rem;
}

.divName, .divxp {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: rgb(37, 66, 125);
    border-radius: 2%;
    background: whitesmoke;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.divaudit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 90%;
    color: rgb(37, 66, 125);
    border-radius: 2%;
    background: whitesmoke;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin-left: 8rem;
}
.XPdone {
    color: rgb(71, 71, 3);
    font-weight: 700;
}
.XPreceived {
    color: rgb(92, 20, 0);
    font-weight: 700;
}

.divaudit div {
    text-align: left;
    padding-left: 25px;
}

.divaudit svg {
    width: 80%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.divgraph {
    width: 80%;
    color: rgb(37, 66, 125);
    border-radius: 2%;
    background: whitesmoke;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 25px;
}

.divgraph svg {
    width: 95%;
    height: 90%;
}